.parent {
    border: 4px solid red;
  }

  /* there no margin so default child will be on left */
  .child {
    width: 50%;
    padding: 20px;
    border: 4px solid green;
  }

  /* margin auto will take equal left and right margin  */
  .child {
    width: 50%;
    padding: 20px;
    border: 4px solid green;
    margin: auto;
  }