h1 {
    color: hsl(0, 12%, 28%);
}

#header1 {
    color: green;
}

p {
    color: rgba(255, 0, 0, 128);   
}

p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
  }
/* box model
1. content
css: content size
width, min-width, max-width
height, min-height, max-height

2. padding
css: padding rule 
padding-left,padding-right,padding-top,padding-bottom
padding box width = content width + left + right
padding box height = content heigth + top + bottom

3. border
css: border rule
border-width = thin,thick,medium
border: 1px solid red
size of the html element = size of border box =  padding width + border left + right


4. margin

to separate with other elements

margin box width = border box width + left +right

*/